<ion-view cache-view="false" view-title="Availability">
  <ion-content>
    <style>

      ion-content{
        background-color: red;
        background-size: 100% auto;
      }

      .next-booking{
        background-color: #42484B;
        padding: 30px;
        margin-top: 35px;
        margin-bottom: 14px;
      }
      .mainButtons{
        width: 50%;
        padding:15px;
        margin: 20px;
        background-color: #42484B;
        color: white;
      }
      .mainButtons:hover{
        background-color: #A5A4A4;
      }
      a{
        color: white;
        font-weight:bold;
      }
    </style>
    <div class="row">
      <style ng-if="isAvailable">ion-content{ background-image: url("../img/available-bg.png");}</style>
      <div class="sidebar col col-50 text-center">
        <h1 style="padding: 15px; margin:20px">{{ room.name }}</h1>
        <h1>{{ displayState }}</h1>
      </div>
      <div  class="col col-50 text-center">
        <div ng-if="!isAvailable" class="mainButtons">
          <h1><a >Check-in</a></h1>
        </div>
        <div ng-if="checkedIn" class="mainButtons">
          <h1><a >Check-out</a></h1>
        </div>
        <div class="mainButtons">
          <h1><a >Book Room</a></h1>
        </div>
      </div>
    </div>
    <div class="next-booking">
      <h2 style="color: white; ">Next booking is @ {{ nextBooking.startTime | ukdate }} for {{ nextBooking.owner }} </h2>
    </div>
    <div class="col-offset-75">
      <h2><a class="mainButtons" ng-click="goSetTime()">Set Time</a></h2>
    </div>
  </ion-content>
</ion-view>
