<ion-view cache-view="false" view-title="Book Room">
  <ion-content>
    <!--<form>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Your Name</label>
        </div>
        <div class="col-md-6">
          <input type="text" ng-model="form.name" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Start Time</label>
        </div>
        <div class="col-md-6">
          <input type="text" ng-model="form.startTime" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">End Time</label>
        </div>
        <div class="col-md-6">
          <input type="text" ng-model="form.endTime" class="form-control" />
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-primary" ng-click="createBooking()">Create Booking</button>
      </div>
    </form>-->
    <h1>Coming Soon...</h1>
    <p>This is the next thing to come, unfortunately we ran out of time.</p>
  </ion-content>
</ion-view>
